.container {
    max-width: 700px;
    margin: 0 auto;
}

.hello {
    padding-top: 100px;
    padding-bottom: 50px;
}

.hello h1 {
    font-size: 3.75rem;
}

.hello p {
    font-size: 1.8rem;
}

.skills {
    margin-bottom: 100px;
}

.about {
    font-size: 1.2rem;
}

.i-am-so-special,.selected-work-foo, .be-my-friend-please { margin-top: 120px; }

p.biig {
    font-size: 1.6rem;
}

.about p span {
    text-decoration: underline;
}

.sexy-pic {
    /* height: 300px; */
    margin-bottom: 20px;
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 24px; */
    max-width: 1100px; 
    margin: 50px auto;
    margin-bottom: 90px;
    overflow-x: scroll;
    gap: 32px;
}
.about img,
.sexy-pic img {
    width: 100%;
}
.sexy-pic img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
img { border-radius: 5px; }

figure {
    margin: 50px 0;
}

figcaption {
    text-align: center;
}


.about h2 {
    font-size: 2.3rem;
    margin-bottom: 0;
}

.email {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.8em;
    overflow-wrap: break-word;
}

.about li {
    font-size: 1.5em;
}

.i-am-so-special h2 {
    margin-bottom: 20px;
}

.selected-work {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 24px;
    max-width: 1100px;
    margin: 50px auto;
    margin-bottom: 90px;
}
/* .selected-work a {
  color: var(--color-gray-20);
}
.selected-work a[href] {
  color: red;
}
.selected-work a[href]:visited {
  color: initial;
} */

.selected-work div  {
   /* border: 2px blue solid; */
    /* box-shadow: rgb(0 0 0 / 10%) 0px 3px 8px 0px; */
    border: 1px dashed var(--color-gray-20);
}
.selected-work div a {
    display: block;
    padding: 16px;
    text-decoration: none;
}
.selected-work h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}
.selected-work p { font-size: 1.1rem; }