.container {
    max-width: 700px;
    margin: 0 auto;
}

.hello {
    padding-top: 100px;
    padding-bottom: 50px;
}

.hello h1 {
    font-size: 3.75rem;
}

.hello p {
    font-size: 1.8rem;
}

.skills {
    margin-bottom: 100px;
}

.about {
    font-size: 1.2rem;
}

.i-am-so-special,.selected-work-foo, .be-my-friend-please { margin-top: 120px; }

p.biig {
    font-size: 1.6rem;
}

.about p span {
    text-decoration: underline;
}


.gallery {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 300px;
    /* gap: 1rem; */
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    gap: 16px;
    /* scroll-snap-stop: always; */
}
.sexy-pic {
    margin-bottom: 20px;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 90px;
    margin-top: 41px;
    position: relative;
}
.about img,
.gallery img {
    inline-size: 100%; /* logical prop for width: */
}
.gallery img {
    scroll-snap-align: start;
    /* width: 300px;
    height: 300px;
    object-fit: cover; */
    /* aspect-ratio: 16 / 9; */
    width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
/* img { border-radius: 5px; } */

figure {
    margin: 50px 0;
}

figcaption {
    text-align: center;
}


.about h2 {
    font-size: 2.3rem;
    margin-bottom: 0;
}

.email {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.8em;
    overflow-wrap: break-word;
}

.about li {
    font-size: 1.5em;
}

.i-am-so-special h2 {
    margin-bottom: 20px;
}

.selected-work {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 24px;
    max-width: 1100px;
    margin: 50px auto;
    margin-bottom: 90px;
}
/* .selected-work a {
  color: var(--color-gray-20);
}
.selected-work a[href] {
  color: red;
}
.selected-work a[href]:visited {
  color: initial;
} */

.selected-work div  {
   /* border: 2px blue solid; */
    /* box-shadow: rgb(0 0 0 / 10%) 0px 3px 8px 0px; */
    border: 1px dashed var(--color-gray-20);
}
.selected-work div a {
    display: block;
    padding: 16px;
    text-decoration: none;
}
.selected-work h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}
.selected-work p { font-size: 1.1rem; }

.btn.prev {
    background-image: url('data:image/svg+xml;charset=utf-8,<svg width="18" height="18" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg"><title>Shape</title><path d="M33.6 14.7H8.043L19.782 2.961 16.8 0 0 16.8l16.8 16.8 2.961-2.961L8.043 18.9H33.6z" fill="%23FFF" fill-rule="evenodd"/></svg>');
    left: 10px;
    display: none;
  }
.btn.next {
    background-image: url('data:image/svg+xml;charset=utf-8,<svg width="18" height="18" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg"><title>Shape</title><path d="M25.557 14.7L13.818 2.961 16.8 0l16.8 16.8-16.8 16.8-2.961-2.961L25.557 18.9H0v-4.2z" fill="%23FFF" fill-rule="evenodd"/></svg>');
    right: 10px;
}
  


  .btn {
    position: absolute;
  
    top: 50%;
    transform: translateY(-50%);
  
    height: 30px;
    width: 30px;
  
    border-radius: 2px;
    background-color: rgba(0,0,0,0.5);
    background-position: 50% 50%;
    background-repeat: no-repeat;
  
    z-index: 1;
    cursor: pointer;
  }