---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<link rel="stylesheet" href="{{ '/css/home.css' | url }}">

<div class="container">
    <div class="hello">
        <h1>Hi! I'm Alex.</h1>
        <p>A <strong>content marketer who codes</strong> based in Shoreditch, East London.</p>
    </div>
    <div class="sexy-pic">
        <img src="{{ '/img/me.jpg' | url }}" alt="Alex Booker">
    </div>
    <div class="about">
        <p class="biig">I’m a full stack JavaScript developer that now works on marketing. Yes, that' right. I
            turned to the
            "dark side" 😈.
        </p>
        <p>I work remotely at Scrimba where we’re building the future of online coding education. As Content Lead, I
            am responsible for SEO content strategy and supporting the content team. I also write and record YouTube videos and
            host The Scrimba Podcast.</p>
        <p>Before Scrimba, I worked as a Developer Advocate.</p>
    </div>
    <div class="about selected-work-foo">
        <h2>Selected Work ↘️️ ️</h2>
        <p>Click-through to read case studies about my work.</p>
    </div>
</div>
<div class="selected-work">
    <div>
      <a href="work/scrimba-pod">
        <h3>Scrimba Podcast 🎙️</h3>
        <p>
            Read about how we haven't missed a weekly episode in 60 weeks or 200,000 downloads, whichever you prefer!
        </p>
        </a>
    </div>
    <div>
        <a href="work/scrimba-blog">
        <h3>Scrimba blog 📝</h3>
        <p>
            Ask me how I launched a blog from scratch and generated 26,381 sessions in 6 months
        </p>
        </a>
    </div>
    <div>
      <a>
        <h3>Scrimba YouTube 📷</h3>
        <p>
            Ask me how I kick-started Scrimba's YouTube and genrerated 34,629 views and 5,759 new subscribers in a year
        </p>
        </a>
    </div>
    <div>
      <a>
        <h3>Pusher Sessions</h3>
        <p>
            Ask me about a new project to film 20 meetup talks a month and publish them on a custom platform I coded
        </p>
      </a>
    </div>
    <div>
      <a>
        <h3>Pusher ChatKit</h3>
        <p>
            Ask me how I acquired 1000 new users a month for our new developer tool SDK product
        </p>
        </a>
    </div>
    <div>
        <a>
        <h3>CometChat Pro landing page</h3>
        <p>
            Ask about my experience leading the team to build a new CometChat website and reposition the product as a developer SDK in America
        </p>
        </a>
    </div>
</div>
<div class="container">
    <div class="about">
        <p>Other work,</p>
        <ul>
            <li><a>Scrimba Discord bot</a></li>
            <li><a>CometChat blog</a></li>
            <li><a>Pusher TextSync</a></li>
        </ul>
    </div>

    <div class="about be-my-friend-please">
        <h2>I'm always up for a chat!</h2>
        <p>Dropping a line to say hello, ask for my resume, or see if we can build something amazing together? I
            would love to hear from you!</p>
        <p>The best way to reach me is at <a class="email" href="mailto:booker@booker.codes">booker@booker.codes</a>
        </p>
        <p>Feeling social? I'm also on</p>
        <ul>
            <li><a href="https://twitter.com/bookercodes">The bird app</a></li>
            <li><a href="https://www.linkedin.com/in/bookercodes/">LinkedIn</a></li>
            <li><a href="youtube.com/c/codecast">YewTube</a></li>
            <li><a href="https://instagram.com/bookercodes">Insta</a></li>
            <li><a href="https://github.com/bookercodes">GitHub</a></li>
            <li><a href="https://spotify.com">Spotify</a></li>
            <li><a href="https://stackoverflow.com/users/5147646/alex-booker">Stack Overflow</a></li>
        </ul>
    </div>
</div>
{# {% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> #}
