---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<link rel="stylesheet" href="{{ '/css/home.css' | url }}">

<div class="container">
    <div class="hello">
        <h1>Hi! I'm Alex.</h1>
        <p>A <strong>content marketer who codes</strong> based in Shoreditch, East London.</p>
    </div>
</div>
<div class="sexy-pic">
    <img src="{{ '/img/me.jpg' | url }}" alt="Alex Booker">
    <img src="{{ '/img/me-2.png' | url }}" alt="Alex Booker">
    <img src="{{ '/img/me-3.png' | url }}" alt="Alex Booker">
    <img src="{{ '/img/me-5.png' | url }}" alt="Alex Booker">
    <img src="{{ '/img/me-4.png' | url }}" alt="Alex Booker">
    <img src="{{ '/img/me-6.png' | url }}" alt="Alex Booker">
</div>
<div class="container">
    <div class="about">
        <p class="biig">I’m a full stack JavaScript developer that now works on marketing. Yes, that's right. I
            turned to the
            "dark side" 😈.
        </p>
        <p>I work remotely at Scrimba where we’re building the future of online coding education. As Content Lead, I
            am responsible for SEO content strategy and supporting the content team. I also make YouTube videos and
            host The Scrimba Podcast.</p>
        <p>Before Scrimba, I worked as a Developer Advocate.</p>
        <p>Scroll on to read more about my work or checkout my <a href="/blog">articles</a> on life and content marketing.</p>
    </div>
    <div class="about selected-work-foo">
        <h2>Selected Work ↘️️ </h2>
        <p>Click through to read case studies about my work I'm particularly proud of.</p>
    </div>
</div>
<div class="selected-work">
    <div>
      <a href="works/scrimba-pod">
        <h3>Scrimba Podcast 🎙️</h3>
        <p>How I started and grew a company podcast to 14,000+ downloads/month</p>
        </a>
    </div>
    <div>
        <a href="works/scrimba-blog">
        <h3>Scrimba blog 📝</h3>
        <p>
            How I devised and executed an organic content strategy to increase organic traffic 80% MoM 
        </p>
        </a>
    </div>
    <div>
            <a href="works/scrimba-yt">
            <h3>Scrimba YouTube 📹</h3>
            <p>
                How I generated 1/2 million views while supporting my team to be video creators too
            </p>
            </a>
        </div>
    </div>
    </div>
<div class="container">
    <div class="about">
        <p>Other work,</p>
        <ul>
            <li><a>Scrimba Discord bot</a></li>
            <li><a>Pusher TextSync</a></li>
            <li><a>Pusher Sessions</a></li>
            <li><a>Pusher ChatKit</a></li>
            <li><a>CometChat blog</a></li>
            <li><a>CometChat rebrand</a></li>
        </ul>
    </div>

    <div class="about be-my-friend-please">
        <h2>I'm always up for a chat!</h2>
        <p>Dropping a line to say hello, ask for my resume, or see if we can build something amazing together? I
            would love to hear from you!</p>
        <p>The best way to reach me is at <a class="email" href="mailto:booker@booker.codes">booker@booker.codes</a>
        </p>
        <p>Feeling social? I'm also on,</p>
        <ul>
            <li><a href="https://twitter.com/bookercodes">The bird app (Twitter)</a></li>
            <li><a href="https://www.linkedin.com/in/bookercodes/">LinkedIn</a></li>
            <li><a href="youtube.com/c/codecast">YouTube</a></li>
            <li><a href="https://instagram.com/bookercodes">Insta</a></li>
            <li><a href="https://github.com/bookercodes">GitHub</a></li>
            <li><a href="https://spotify.com">Spotify</a></li>
            <li>and <a href="https://stackoverflow.com/users/5147646/alex-booker">Stack Overflow</a></li>
        </ul>
    </div>
</div>
{# {% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> #}
