---
layout: layouts/home.njk
permalink: /works/
eleventyNavigation:
  key: Work
  order: 1
---

<h1>Work</h1>
{% set postslist = collections.works %}
{% include "postslist.njk" %}

{# <ul>

{%- for work in collections.works -%}
  <li>{{ work.data.title }}</li>
{%- endfor -%}
</ul> #}